.container {
  font-family: "Poppins";
  font-style: normal;
  /* position: absolute; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* width: 90%; */
  z-index: 100;
  align-items: center;
  transition:all 0.3s ease-in-out;
  font-weight: 500;
  z-index: 1000;
}

/*don't add space between classnames!*/
.scrolled.container {
  background: rgba(34, 39, 100, 0.6);
  backdrop-filter: blur(32px);
}

.scrolled svg {
  color: white;
}

.scrolled .navigators ul li a {
  color: white;
}
.scrolled .button{
  color: #193655;

}

.header {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  gap: 0.2rem;
}

.logo {
  color: inherit;
  display: flex;
  align-self: center;
}

.title {
  display: flex;
  flex-direction: column;
}

.head {
  text-align: justify;
}

.subHead {
  text-align: justify;
  font-size: 0.8rem;
  font-weight: 100;
}

.navigators {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
}

.navigators ul {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.navigators ul li {
  list-style: none;
}

.navigators ul li a {
  text-decoration: none;
  color: #ffffff;
  display: flex;
}

.icons {
  align-self: center;
  display: none;
}

.navigators .button {
  display: inline-block;
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* grad 1 */
  background: linear-gradient(270deg, #7a9ce0 7.22%, #79dfc8 100%);
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
   color: #193655;
  
}

@media (max-width: 650px) {
  .container {
    position: fixed;
    bottom: 0;
    width: 100%;
    top: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(315deg, #fff, #d7e1ec 74%);
    padding: 1rem;
  }

  .header {
    display: none;
  }

  .navigators {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .navigators ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .navigators ul li {
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icons {
    align-self: center;
    display: flex;
    font-size: 2.5rem;
    color: black;
  }

  .navigators ul li a label {
    display: none;
  }

  .navigators .button {
    background: none;
  }
}

@media (max-width: 480px) {
  .icons {
    font-size: 2rem;
  }
}
