.content {
  font-family: "Poppins";
}

.organizer h3 {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.5rem;
  color: rgba(255, 255, 255, 0.9);
}

.heading h1 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.5rem;
  background: linear-gradient(270deg, #7a9ce0 7.22%, #79dfc8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.date p {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 2.5rem;
  color: rgba(255, 255, 255, 0.9);
}

.descriptiion {
  margin-top: 0.5rem;
}

.descriptiion p {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.3rem;
  color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 1225px) {
  .organizer h3 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .heading h1 {
    font-size: 3rem;
    line-height: 4rem;
  }

  .date p {
    font-size: 1.1rem;
    line-height: 2rem;
  }

  .descriptiion p {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
}

@media (max-width: 750px) {
  .organizer h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .heading h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .date p {
    font-size: 1rem;
    line-height: 1.8rem;
  }

  .descriptiion p {
    font-size: 0.8rem;
    line-height: 1rem;
  }
}

@media (max-width: 300px) {
  .organizer h3 {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .heading h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .date p {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }

  .descriptiion p {
    font-size: 0.7rem;
    line-height: 1rem;
  }
}
