.container {
  margin-left: 7rem;
  font-family: "Poppins";
  width: 80%;
}

.clubHeading h3 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 2rem;
  line-height: 1rem;
}

.title h1 {
  font-size: 4.5rem;
  line-height: 110px;
  background: linear-gradient(270deg, #7a9ce0 7.22%, #79dfc8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
}

.clubInfo h2 {
  padding-top: 2rem;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 30px;
  background: linear-gradient(270deg, #7a9ce0 7.22%, #79dfc8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.clubInfo p {
  padding-top: 1rem;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 26px;
  text-align: justify;

  color: #b3b3b3;
}

.container .regButton {
  background: linear-gradient(270deg, #7a9ce0 7.22%, #79dfc8 100%);
  border-radius: 4px;
  display: inline-block;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  margin-top: 1rem;
  cursor: pointer;
  color: #1c1b4b;
  text-decoration: none;
}

@media (max-width: 1060px) {
  .container {
    margin-left: 0;
    width: 100%;
  }

  .clubInfo p {
    line-height: 1.4rem;
  }
}

@media (max-width: 545px) {
  .clubHeading h3 {
    font-size: 1.5rem;
    line-height: 1rem;
  }

  .title h1 {
    font-size: 3rem;
    line-height: 5rem;
  }
}

@media (max-width: 330px) {
  .clubHeading h3 {
    font-size: 1.2rem;
    line-height: 1rem;
  }

  .title h1 {
    font-size: 2rem;
    line-height: 3rem;
  }

  .clubInfo h2 {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
}
