@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

.main {
    display: flex;
    align-items: center;
    margin: 3vw;
    color: white;
    position: relative;
}

.activities {
    width: 100%;
    margin-top: 5rem;
    border-radius: 10px;
    padding: 4rem;
    background-color: #192656;
    z-index: -1;
}

.title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    margin-bottom: 16px;
}

.points {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-transform: capitalize;
    list-style: disc;
    position: relative;
    left: 2%;
    z-index: -1;
}

.content {
    background-color: #7A9CE0;
    border-radius: 10px;
    width: 34vw;
    height: 24vw;
    position: absolute;
    top: 5%;
    left: calc(50% - 461px/2 + 294.5px);
}

.content p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;
    line-height: 1rem;
    margin: 2vw;
}

@media(min-width: 767px) and (max-width: 1024px) {
    .main {
        flex-direction: column;
        padding-left: 5vw;
        padding-right: 5vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .content {
        width: 38vw;
        height: 26vw;
    }

    .content p {
        font-size: 2.3vw;
        line-height: 3.3vw;
    }

    .points {
        font-size: 2.3vw;
    }
}

@media(max-width: 767px) {
    .main {
        flex-direction: column;
        /* padding-left: 0 10vw;
        padding-right: 10vw; */
        padding : 0 10vw;
        margin: auto 10vw;
    }

    .content {
        display: none;
    }

    .points {
        font-size: 1.3em;
    }

    .title {
        font-size: 2em;
    }

}

@media (min-width: 1025px) {
    .content p {
        font-size: 32px;
        line-height: 38px;
        margin: 2rem;
    }

    .content {
        width: 461px;
        height: 330px;
    }
}