.container {
  display: flex;
  padding: 5rem 3rem;
  gap: 2rem;
  background: #090917;
}

@media (max-width: 1095px) {
  .container {
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
  }
}
