.cardcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5rem 3rem;
  gap: 2rem;
  background: #090917;
}

@media (max-width : 800px) {
  .cardcontainer {
    grid-template-columns: 1fr;
  }
}

/* @media (max-width : 650px) {
  .container{
    margin: ;
  }
} */
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;

  background: #192656;
  border-radius: 8px;
  font-family: "Poppins";
  font-style: normal;
  transform-style: preserve-3d;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.heading h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #e6e6e6;
}

.date p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #e6e6e6;
}

.desc p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #b3b3b3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

}

.container::before,
.container::after {
  position: absolute;
  top: 5%;
  left: 5%;
  content: '';
  width: 90%;
  height: 90%;
  z-index: 0;
  border: 2px solid #00000000;
  border-radius: 8px;
  transform-origin: center center;
  transform: rotate(0deg);
  transition: inherit;
}

.container::after {
  transition-delay: 50ms;
}

.container:hover {
  transform: translateY(-16px);
}

.container:hover::before,
.container:hover::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #7A9CE0;
}

.container:hover::before {
  transform: rotateZ(-5deg) rotateX(-1deg) rotateY(1deg);
}

.container:hover:after {
  transform: rotateZ(-10deg) rotateX(-1deg) rotateY(1deg);
}

.linkcard {
  text-decoration: none;
}

@media (max-width: 1095px) {
  .cardcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 85%;
  }
}

@media (max-width: 460px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 1095px) {
  .cardcontainer {
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
  }
}