@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  background: linear-gradient(
    189.19deg,
    #192656 42.16%,
    rgba(45, 71, 184, 0.1) 91.14%
  );
  border-radius: 8px;
  font-family: "Poppins";
  font-style: normal;
}

.heading h1 {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #e6e6e6;
}

.date p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 19px;
  color: #e6e6e6;
}

.desc p {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 26px;
  color: #b3b3b3;
}

.container:hover {
  transform: rotateY(360deg);
  transition: all 1s ease-in-out;
}

@media (max-width: 1095px) {
  .container {
    width: 85%;
  }
}

@media (max-width: 460px) {
  .container {
    width: 80%;
  }
}