@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
  font-family: "Poppins";
  font-style: normal;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* width: 90%; */
  z-index: 100;
  align-items: center;
  font-weight: 500;
}

.header {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  gap: 0.2rem;
}

.logo {
  display: flex;
  align-self: center;
}

.title {
  display: flex;
  flex-direction: column;
}

.head {
  text-align: justify;
}

.subHead {
  text-align: justify;
  font-size: 0.8rem;
  font-weight: 100;
}

.navigators {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
}

.navigators ul {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.navigators ul li {
  list-style: none;
}

.navigators ul li a {
  text-decoration: none;
  color: #ffffff;
}

.navigators button {
  background: linear-gradient(270deg, #7a9ce0 7.22%, #79dfc8 100%);
  border-radius: 4px;
  padding: 0.2rem 1rem;
  display: flex;
  color: #ffffff;
  cursor: pointer;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  border: none;
}
