* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: #090917;
  color: white;
  position: relative;
  min-height: 100vh;
  --scrollbar-thumb: #7a9ce0;
  --scrollbar-thumb_hover: #7a9ce0;
}

body::after {
  content: "";
  display: block;
  height: 256px;
}

$scroll-bar-width: 12px;
@mixin scrollbar {
  body {
    overflow: auto;
    overflow: overlay;
  }
  ::-webkit-scrollbar {
    width: $scroll-bar-width;
    height: $scroll-bar-width;
  }
  ::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    background-clip: padding-box;
    background-color: var(--scrollbar-thumb);
    border-radius: $scroll-bar-width;
  }
  ::-webkit-scrollbar-thumb:hover {
    border: 3px solid transparent;
    background-color: var(--scrollbar-thumb_hover);
    cursor: pointer;
  }
}

@media not screen and (hover: none) {
  @include scrollbar;
}

@media only screen and (max-width: 768px) {
  body::after {
    content: "";
    display: block;
    height: 100px;
  }
}
